#datetime-picker {
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border ease-in 250ms, color ease-in 250ms;
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:focus {
  border: 1px solid #4e75ff;
}
#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-left: 8px;
  margin-bottom: 32px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color ease-in 250ms, color ease-in 250ms;
}
button:hover {
  background-color: #6c8cff;
}
button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
.timer {
  display: flex;
  gap: 24px;
  width: 346px;
  margin: 0 auto;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-transform: capitalize;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
